<style>
    .feedback-form {
        border-radius: 5px;
        border: 2px solid grey;
        box-shadow: 10px 10px 10px rgb(142, 146, 142);
        padding: 20px;
        
    }
    .feedback-title {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 2px solid skyblue;
    }
    .feedback-input-group {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .emojis {
        text-align: center;
    }
    .emoji-icon {
        max-height: 55px;
    }
    .emoji-name {
        text-align: center;
    }

    .study-hrs {
        background-color: skyblue;
        border-radius: 40px;
        width: 80px;
        height: 80px;
        padding-top: 30px;
        
        box-shadow: 2px 2px 10px rgb(142, 146, 142);
    }
    .study-hrs-title {
        font-weight: 700;
        text-shadow: 1px 1px 1px #fff;
    }
    .feedback-interest-btn {
        margin: 12px;
    }
</style>




<div class="feedback-form">
    <div class="feedback-title">Feedback</div>

    <div class="feedback-input-group">
        <div class="feedback-que">Part 1: How do you feel about your performance on this test?</div>
        <div class="feedback-resp">
            <div class="emoji-box">
                <div class="col-2 float-left emojis">
                    <div class="emj-1">
                        <img class="emoji-icon" src="/emoji/Smiling_Face_Emoji_with_Blushed_Cheeks.png" alt="">
                    </div>
                    <div class="emj-2">
                        <div>I feel sick! </div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="emj-1">
                        <img class="emoji-icon" src="/emoji/Smiling_Face_Emoji_with_Blushed_Cheeks.png" alt="">
                    </div>
                    <div class="emj-2">
                        <div>Not so good </div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="emj-1">
                        <img class="emoji-icon" src="/emoji/Smiling_Face_Emoji_with_Blushed_Cheeks.png" alt="">
                    </div>
                    <div class="emj-2">
                        <div>OK </div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="emj-1">
                        <img class="emoji-icon" src="/emoji/Smiling_Face_Emoji_with_Blushed_Cheeks.png" alt="">
                    </div>
                    <div class="emj-2">
                        <div>Pretty good </div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="emj-1">
                        <img class="emoji-icon" src="/emoji/Smiling_Face_Emoji_with_Blushed_Cheeks.png" alt="">
                    </div>
                    <div class="emj-2">
                        <div>Great </div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="emj-1">
                        <img class="emoji-icon" src="/emoji/Smiling_Face_Emoji_with_Blushed_Cheeks.png" alt="">
                    </div>
                    <div class="emj-2">
                        <div>Fantastic! </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="feedback-input-group">
        <div class="feedback-que">Part 2: Do you think your performance on this test is a good indicator of how well you know/understand this topic?____________Why or why not?</div>
        <div class="feedback-response form-group">
                <input type="text" class="form-control" id="exampleInputPassword1" name="exampleInputPassword1">
        </div>
    </div>


    <div class="feedback-input-group">
        <div class="feedback-que">Part 4: How much time did you spend studying? (in a day) </div>
        <div class="feedback-resp">
            <div class="emoji-box">
                <div class="col-2 float-left emojis">
                    <div class="study-hrs">
                        <div class="study-hrs-title">0-1 hrs</div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="study-hrs">
                        <div class="study-hrs-title">1-2 hrs</div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="study-hrs">
                        <div class="study-hrs-title">2-4 hrs</div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="study-hrs">
                        <div class="study-hrs-title">4-6 hrs</div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="study-hrs">
                        <div class="study-hrs-title">6-10 hrs</div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="study-hrs">
                        <div class="study-hrs-title">10+ hrs</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="feedback-input-group">
        <div class="feedback-que">Part 5: Do you know anything about this topic that wasn’t on the test? Tell me about it on the back...</div>
        <div class="feedback-response">

        </div>
    </div>

    <div class="feedback-input-group">
        <div class="feedback-que">Part 6: How likely is it that you would recommend "OpentestSeries.com" to a friends or a colleague</div>
        <div class="feedback-resp">
            <div class="emoji-box">
                <div class="col-2 float-left emojis">
                    <div class="emj-1">
                        <img class="emoji-icon" src="/emoji/Smiling_Face_Emoji_with_Blushed_Cheeks.png" alt="">
                    </div>
                    <div class="emj-2">
                        <div>I feel sick! </div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="emj-1">
                        <img class="emoji-icon" src="/emoji/Smiling_Face_Emoji_with_Blushed_Cheeks.png" alt="">
                    </div>
                    <div class="emj-2">
                        <div>Not so good </div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="emj-1">
                        <img class="emoji-icon" src="/emoji/Smiling_Face_Emoji_with_Blushed_Cheeks.png" alt="">
                    </div>
                    <div class="emj-2">
                        <div>OK </div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="emj-1">
                        <img class="emoji-icon" src="/emoji/Smiling_Face_Emoji_with_Blushed_Cheeks.png" alt="">
                    </div>
                    <div class="emj-2">
                        <div>Pretty good </div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="emj-1">
                        <img class="emoji-icon" src="/emoji/Smiling_Face_Emoji_with_Blushed_Cheeks.png" alt="">
                    </div>
                    <div class="emj-2">
                        <div>Great </div>
                    </div>
                </div>
                <div class="col-2 float-left emojis">
                    <div class="emj-1">
                        <img class="emoji-icon" src="/emoji/Smiling_Face_Emoji_with_Blushed_Cheeks.png" alt="">
                    </div>
                    <div class="emj-2">
                        <div>Fantastic! </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feedback-input-group">
        <div class="feedback-que">Part 8: Which is your career focused area</div>
        <div class="feedback-response">
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
            <button type="submit" class="btn btn-success feedback-interest-btn">Submit</button>
        </div>
    </div>


</div>