<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="post" action="/">
    <textarea name="content" id="content" cols="150" rows="10"></textarea>
    <script>
        CKEDITOR.replace('content');
    </script>
    <input type="submit" value="Submit">
</form>

<hr>
<hr>
<hr>

<form method="get" action="http://www.google.com/search">

    <table cellpadding="0" border="0" width="100%">
        <tbody>
            <tr>
                <td align="center">
                    <img src="images/Search_new.jpg" height="33" width="106">
                    <br>
                    <input name="q" size="15" maxlength="255" value="" type="text">
                    <input value="Search" type="submit">
                    <br>
                    <input name="sitesearch" value="opentestseries.com" checked="checked" type="checkbox"> Search OTS website only</td>
            </tr>
        </tbody>
    </table>
</form>