<form method="post" action="/tp-paragraph-question">

    <div class="form-group col-12">
        <label for="question"> question </label>
        <textarea name="content" id="content" cols="150" rows="10"></textarea>
        <script>
            CKEDITOR.replace('content');
        </script>
    </div>

    <div class="form-group col-12">
        <label for="tagsInput"> tagsInput : Don't forget to press comma (,) </label>
        <input type="text" class="form-control" id="tagsInput" name="tagsInput" onkeyup="javascript:tagGenerate(event)">
    </div>


    <div class="col-12" id="tagsBox"></div>

<br>
<div class="col-12">
    <input type="submit" value="Submit">
    </div>
</form>


<script>
    var counter = 0;
    function tagGenerate(evt) {
        var dynamicID = 'dynamicID' + (counter++);
        //var tagsInput = document.getElementById('tagsInput').value;
        //alert(tagsInput);
        if (evt.keyCode == 188) { // KeyCode For comma is 188
            var tagsInputBox = document.getElementById('tagsInput');
            var tagsInput = tagsInputBox.value;
            var newTagValue = tagsInput.substring(0, (tagsInput.length - 1));

            var tagsBox = document.getElementById('tagsBox');
            var newTagsDiv = document.createElement('div');
            newTagsDiv.innerHTML = ` <div id="` + dynamicID + `" class="float-left"> <input type="hidden" id="tags[]" name="tags[]" value="` + newTagValue + `"> <p class="btn btn-success "> ` + newTagValue + ` <span onclick="javascript:deleteTag('` + dynamicID + `')" > &#10006; </span> </p>  </div> `;
            tagsBox.appendChild(newTagsDiv);

            tagsInputBox.value = "";
        }
    }


    function deleteTag(elementID) {
        document.getElementById(elementID).remove();
    }
</script>